<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <form name="ask-question" method="post" data-netlify="true" data-netlify-honeypot="bot-field" hidden>
      <p style="display: none;" class="hidden">
          <label> Dont fill it in <input name="form-name" value="ask-question" type="hidden" /></label>

      </p>
      <p>
          <label>Your Name: <input type="text" name="name" /></label>
      </p>
      <p>
          <label>Your Email: <input type="email" name="email" /></label>
      </p>
      <p>
          <label>Message: <input type="textarea" name="message" /></label>
      </p>
      <p><button type="submit">Send</button></p>
      <div class="field">
        <div data-netlify-recaptcha="true"> </div>
      </div>
  </form>
  <form hidden name="enter-subscribe" method="post" data-netlify="true" data-netlify-honeypot="bot-field" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
    <p style="display: none;" class="hidden"> 
      <label> Dont fill it in <input name="form-name" value="subscribe" type="hidden" /></label>
      </p>
    <div class="input-wrapper">
      <input type="email" placeholder="Email" name="email" required />
      <button>Subscribe</button>
    </div>
  </form>
    <div id="q-app"></div>
  </body>
</html>
